<!-- 
    <form method="post" action="{% url 'set_theme' %}">
        <input type="text" name="next" value="/"/>
        <input type="text" name="theme" value="bootswatch-"/>
        <button type="submit">Go!</button>
    </form>
    
    <button type="button">
        Submit
    </button>
    {% include 'bootstrap_ui/listgroup.html' with type='list' items=months only %}
     -->

     <ul class="nav nav-pills">
  <li class="nav-item dropdown">
    <a id="dropdown-month" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{ months|dict_lookup:month }}</a>
    <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 38px, 0px); top: 0px; left: 0px; will-change: transform;">
    	{% for mm, mname in months.items %}
      <a class="dropdown-item" href="/charts" >{{ mname }}</a>
    {% endfor %}
    </div>
  </li>
  
  <li class="nav-item dropdown">
    <a id="dropdown-year" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{ year }}</a>
    <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 38px, 0px); top: 0px; left: 0px; will-change: transform;">
    	{% for yy in years %}
      <a class="dropdown-item" href="/charts" >{{ yy }}</a>
    {% endfor %}
    </div>
  </li>
</ul>