

{% include_chart_jscss %}
    {% load_chart charttype chartdata "piechart_container" extra %}
    
    <h1>Fruits vs Calories</h1>
    {% include_container chartcontainer 400 600 %}


{% include 'partials/header.html' %}
<!-- Chart js library -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<!-- jQuery library -->
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm col-md-4">
    <canvas id="month_statistics_chart_imonsite" width="60" height="40"></canvas>
    <script>
    var list_of_active = [];
    {% for month in months %}
    list_of_active.push({{month.IMONSITE.msp.active}});
    list_of_active.push({{month.IMONSITE.msp.inactive}});
    list_of_active.push({{month.IMONSITE.client.active}});
    list_of_active.push({{month.IMONSITE.client.inactive}});
    list_of_active.push({{month.IMONSITE.user.active}});
    list_of_active.push({{month.IMONSITE.user.inactive}});
    {% endfor %}
    var ctx_imonsite = $("#month_statistics_chart_imonsite");
    var month_chart_imonsite = new Chart(ctx_imonsite, {
        type: 'bar',
        data: {
            labels: ["active", "inactive"],
            datasets: [{
                label: "msp",
                backgroundColor: 'rgb(52, 152, 219)',
                borderColor: 'rgb(52, 152, 219)',
                data: [list_of_active[0], list_of_active[1]],
                },
                {
                label: "client",
                backgroundColor: 'rgb(39, 174, 96)',
                borderColor: 'rgb(39, 174, 96)',
                data: [list_of_active[2], list_of_active[3]],
                },
                {
                label: "user",
                backgroundColor: 'rgb(243, 156, 18)',
                borderColor: 'rgb(243, 156, 18)',
                data: [list_of_active[4], list_of_active[5]],
                }
            ]
        },
        options: {
            scales: {
                yAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: 'IMONSITE'
                    }
                }]
            }
        }
    });
    </script>
    </div>
    <div class="col-sm col-md-4">
    <canvas id="month_statistics_chart_portal" width="60" height="40"></canvas>
    <script>
    var list_of_portal = [];
    {% for month in months %}
    list_of_portal.push({{month.PORTAL.msp.active}});
    list_of_portal.push({{month.PORTAL.msp.inactive}});
    list_of_portal.push({{month.PORTAL.client.active}});
    list_of_portal.push({{month.PORTAL.client.inactive}});
    list_of_portal.push({{month.PORTAL.user.active}});
    list_of_portal.push({{month.PORTAL.user.inactive}});
    {% endfor %}
    var ctx_portal = $("#month_statistics_chart_portal");
    var month_chart_portal = new Chart(ctx_portal, {
        type: 'bar',
        data: {
            labels: ["active", "inactive"],
            datasets: [{
                label: "msp",
                backgroundColor: 'rgb(52, 152, 219)',
                borderColor: 'rgb(52, 152, 219)',
                data: [list_of_portal[0], list_of_portal[1]],
                },
                {
                label: "client",
                backgroundColor: 'rgb(39, 174, 96)',
                borderColor: 'rgb(39, 174, 96)',
                data: [list_of_portal[2], list_of_portal[3]],
                },
                {
                label: "user",
                backgroundColor: 'rgb(243, 156, 18)',
                borderColor: 'rgb(243, 156, 18)',
                data: [list_of_portal[4], list_of_portal[5]],
                }
            ]
        },
        options: {
            scales: {
                yAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: 'PORTAL'
                    }
                }]
            }
        }
    });
    </script>
    </div>

    <div class="col-sm col-md-4">
    <canvas id="month_statistics_chart_selfsigned" width="60" height="40"></canvas>
    <script>
    var list_of_selfsigned = [];
    {% for month in months %}
    list_of_selfsigned.push({{month.SELFSIGNED.msp.active}});
    list_of_selfsigned.push({{month.SELFSIGNED.msp.inactive}});
    list_of_selfsigned.push({{month.SELFSIGNED.client.active}});
    list_of_selfsigned.push({{month.SELFSIGNED.client.inactive}});
    list_of_selfsigned.push({{month.SELFSIGNED.user.active}});
    list_of_selfsigned.push({{month.SELFSIGNED.user.inactive}});
    {% endfor %}
    var ctx_selfsigned = $("#month_statistics_chart_selfsigned");
    var month_chart_selfsigned = new Chart(ctx_selfsigned, {
        type: 'bar',
        data: {
            labels: ["active", "inactive"],
            datasets: [{
                label: "msp",
                backgroundColor: 'rgb(52, 152, 219)',
                borderColor: 'rgb(52, 152, 219)',
                data: [list_of_selfsigned[0], list_of_selfsigned[1]],
                },
                {
                label: "client",
                backgroundColor: 'rgb(39, 174, 96)',
                borderColor: 'rgb(39, 174, 96)',
                data: [list_of_selfsigned[2], list_of_selfsigned[3]],
                },
                {
                label: "user",
                backgroundColor: 'rgb(243, 156, 18)',
                borderColor: 'rgb(243, 156, 18)',
                data: [list_of_selfsigned[4], list_of_selfsigned[5]],
                }
            ]
        },
        options: {
            scales: {
                yAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: 'SELFSIGNED'
                    }
                }]
            }
        }
    });
    </script>
    </div>
  </div>
</div>
<a class="btn btn-primary" href="/" role="button">go to main site</a>
{% include 'partials/footer.html' %}