{% load static %}
{% load opsrep_utils %}
{% load bootstrap_ui_tags %}

<script>
	var requireJS = [];
	loadJS(requireJS, "{% static "dashboard/js/views/charts.js" %}");
	
	//jQuery.parseJSON
	var dataset_array = JSON.parse('{{ data_sets | escapejs }}');
	var options   = JSON.parse('{{ options | escapejs }}');
	var labels    = JSON.parse('{{ labels | escapejs }}');

	var ctx = null;
	var chart = null;
	for (var i = 0; i < dataset_array.length; i++) {
		ctx = document.getElementById("canvas-"+(i+1));
		chart = new Chart(ctx, {
			
		    type: "{{ chart_type }}",
		    options: options,
		    
		    data: { labels: labels,  datasets: [ dataset_array[i]["dataset"] ] },
		});
	}

</script>

<div id="ui-view">

{% row %}
{% column xs="6" sm="4" md="3" lg="2" %}
	<label for="ccmonth">Month</label>
	<select class="form-control" id="ccmonth">
	<option>1</option>
	<option>2</option>
	<option>3</option>
	<option>4</option>
	<option>5</option>
	<option>6</option>
	<option>7</option>
	<option>8</option>
	<option>9</option>
	<option>10</option>
	<option>11</option>
	<option>12</option>
	</select>
{% endcolumn %}
{% column xs="6" sm="4" md="3" lg="2" %}
	<label for="ccyear">Year</label>
	<select class="form-control" id="ccyear">
	<option>2016</option>
	<option>2017</option>
	</select>
{% endcolumn %}
{% endrow %}


<div class="animated fadeIn">
<div class="card-columns cols-3">
	{% for dset in data_sets|load_json %}
	<div class="card">
	<div class="card-header">
		{{ dset.name }}
		<div class="card-actions">
			<a href="http://www.chartjs.org">
	           <small class="text-muted">docs</small>
	         </a>
		</div>
		<div class="card-body">
	        <div class="chart-wrapper">
	          <canvas id="canvas-{{ forloop.counter }}"></canvas>
	        </div>
	     </div>
	</div>
	</div>
	{% endfor %}
</div>
</div>
</div>
