        <div class="sidebar">
            <nav class="sidebar-nav">
            <ul class="nav">
                <li class="nav-item">
                <a class="nav-link" href="/charts"><i class="icon-speedometer"></i> Dashboard <!--  <span class="badge badge-primary">NEW</span> --> </a>
                </li>

                <!--
                <li class="nav-title">
                UI Elements
                </li>
                -->

                <li class="nav-item">
                    <a class="nav-link" href="/charts2" ><i class="icon-pie-chart"></i> Charts</a>
                </li>

                <li class="nav-item nav-dropdown">
                    <a class="nav-link nav-dropdown-toggle" href="#" ><i class="icon-puzzle"></i> Dropdown</a>
                    <ul class="nav-dropdown-items">
                        <li class="nav-item">
                            <a class="nav-link" href="components/buttons.html"><i class="icon-puzzle"></i> 1</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="components/social-buttons.html"><i class="icon-puzzle"></i> 2</a>
                        </li>
                    </ul>
                </li>
            </ul>
            </nav>
        </div>