{% load static %}
{% load opsrep_utils %}

<script>
	var dataset_array = JSON.parse('{{ data_sets | escapejs }}');
	var options   = JSON.parse('{{ options | escapejs }}');
	var labels    = JSON.parse('{{ labels | escapejs }}');
	/* options['pieceLabel'] = {
		    render: 'value',
		    position: 'default',
		    fontSize: 9,
		    fontColor: '#fff',
		}; */

	var ctx = null;
	var chart = null;
	for (var i = 0; i < dataset_array.length; i++) {
		ctx = document.getElementById("canvas-"+(i+1));
		chart = new Chart(ctx, {
		    type: "{{ chart_type }}",
		    options: options,
		    
		    data: { labels: labels,  datasets: dataset_array[i]["dataset"] },
		});
	}
</script>

<!--  <div class="animated fadeIn"> -->
<div class="card-columns cols-2">
	{% for dset in data_sets|load_json %}
	<div class="card">
	<div class="card-header">
		{{ dset.name }}
		<div class="card-actions">
			<a href="http://www.chartjs.org">
	           <small class="text-muted">docs</small>
	         </a>
		</div>
		<div class="card-body">
	        <div class="chart-wrapper">
	          <canvas id="canvas-{{ forloop.counter }}"></canvas>
	        </div>
	     </div>
	</div>
	</div>
	{% endfor %}
</div>
</div>
