{% load static %}
{% load opsrep_utils %}

<script>
    var usage_stats = JSON.parse('{{ usage_stats | escapejs }}');
    var resources_stats = JSON.parse('{{ resources_stats | escapejs }}');
    var labels = JSON.parse('{{ labels | escapejs }}');
    var dataset = JSON.parse('{{ datasets | escapejs }}');

    var ctx = null;
    var myChart = null;
    for (var i = 0; i < 6 ; i++) {
        ctx = document.getElementById("card-chart"+(i+1));
        myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Count',
                    backgroundColor: "transparent",
                    borderColor: 'rgba(255,255,255,.55)',
                    data: dataset[i],
                }]
            },
            options: {
                maintainAspectRatio: false,
                legend: {
                    display: false
                },
                scales: {
                    yAxes: [{
                        display: false,
                        ticks: {
                            display: false
                        }
                    }],
                    xAxes: [{
                        gridLines: {
                            color: 'transparent',
                            zeroLineColor: 'transparent'
                        },
                        ticks: {
                            fontSize: 2,
                            fontColor: 'transparent'
                        }
                    }],
                },
                elements: {
                    line: {
                        borderWidth: 1
                    },
                    point: {
                        radius: 4,
                        hitRadius: 10,
                        hoverRadius: 4
                    }
                }
            }

        })
    }

</script>

<div class="animated fadeIn">
    <!-- starting resources -->
    <div class="card">
    <div class="card-header"><strong>ITOP Resources</strong></div>
    <div class="card-body">
        <div class="row">
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-6">
                <div class="callout callout-success">
                    <small class="text-muted"><strong>Total Active</strong></small>
                    <br>
                    <strong class="h4"><div id="total_active_resources"></div></strong>
                </div>
                </div>

                <div class="col-sm-6">
                <div class="callout callout-warning">
                    <small class="text-muted"><strong>Discovered & Inactive</strong></small>
                    <br>
                    <strong class="h4"><div id="discovered_n_inactive"></div></strong>
                </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    </div>


    <!-- User Login Stats -->
    <div class="card">
    <div class="card-header"><strong>User Logins [Last 30 Days]</strong></div>
    <div class="card-body">
        <div class="row">
            <div class="col">
            <div class="callout callout-success">
                <small class="text-muted"><strong>Client Users</strong></small>
                <br>
                <strong class="h4"><div id="client_user_sessions"></div></strong>
            </div>
            </div>

            <div class="col">
            <div class="callout callout-success">
                <small class="text-muted"><strong>Partner Users</strong></small>
                <br>
                <strong class="h4"><div id="partner_user_sessions"></div></strong>
            </div>
            </div>

            <div class="col">
            <div class="callout callout-success">
                <small class="text-muted"><strong>Service Provider Users</strong></small>
                <br>
                <strong class="h4"><div id="sp_user_sessions"></div></strong>
            </div>
            </div>

            <div class="col">
            <div class="callout callout-success">
                <small class="text-muted"><strong>Total User Sessions</strong></small>
                <br>
                <strong class="h4"><div id="total_user_sessions"></div></strong>
            </div>
            </div>

        </div>
    </div>
    </div>


    <!-- Usage stats -->
    <div class="card">
    <div class="card-header"><strong>Resource Statistics [Last 30 days]</strong></div>
    <div class="card-body">
    <div class="row">
        <div class="col-sm-6 col-lg-3">
            <div class="card text-white bg-primary">
            <div class="card-body pb-0">
                <div class="text-value"><div id="resources_added"></div></div>
                <div><strong>Managed Resources</strong></div>
            </div>
            <div class="chart-wrapper mt-3 mx-3" style="height:100px;">
                <canvas class="chart" id="card-chart1" height=100></canvas>
            </div>
            </div>
        </div>
    
        <div class="col-sm-6 col-lg-3">
            <div class="card text-white bg-success">
            <div class="card-body pb-0">
                <div class="text-value"><div id="alerts_created"></div></div>
                <div><strong>Aggregated Alerts</strong></div>
            </div>
            <div class="chart-wrapper mt-3 mx-3" style="height:100px;">
                <canvas class="chart" id="card-chart2" height=100></canvas>
            </div>
            </div>
        </div>
    
        <div class="col-sm-6 col-lg-3">
            <div class="card text-white bg-secondary">
            <div class="card-body pb-0">
                <div class="text-value"><div id="tickets_created"></div></div>
                <div><strong>Tickets Created</strong></div>
            </div>
            <div class="chart-wrapper mt-3 mx-3" style="height:100px;">
                <canvas class="chart" id="card-chart3" height=100></canvas>
            </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 col-lg-3">
            <div class="card text-white bg-info">
            <div class="card-body pb-0">
                <div class="text-value"><div id="reports_created"></div></div>
                <div><strong>Reports Created</strong></div>
            </div>
            <div class="chart-wrapper mt-3 mx-3" style="height:100px;">
                <canvas class="chart" id="card-chart4" height=100></canvas>
            </div>
            </div>
        </div>

        <div class="col-sm-6 col-lg-3">
            <div class="card text-white bg-warning">
            <div class="card-body pb-0">
                  <div class="text-value"><div id="dashboards_created"></div></div>
                  <div><strong>Dashboard Created</strong></div>
            </div>
            <div class="chart-wrapper mt-3 mx-3" style="height:100px;">
                <canvas class="chart" id="card-chart5" height=100></canvas>
            </div>
            </div>
        </div>
        <!--
        <div class="col-sm-6 col-lg-3">
            <div class="card text-white bg-danger">
            <div class="card-body pb-0">
                <div class="text-value"><div id="recordings_created"></div></div>
                <div><strong>Recordings Created</strong></div>
            </div>
            <div class="chart-wrapper mt-3 mx-3" style="height:100px;">
                <canvas class="chart" id="card-chart6" height=100></canvas>
            </div>
            </div>
        </div>
        -->

        <div class="col-sm-6 col-lg-3">
            <div class="brand-card">
                <div class="brand-card-header text-white bg-danger">
                    <!-- <i class="fa fa-facebook"></i> -->
                    <div class="chart-wrapper mt-3 mx-3">
                        <canvas class="chart" id="card-chart6" height="90"></canvas>
                    </div>
                </div>
                <div class="brand-card-body">
                    <div>
                        <div class="text-uppercase text-muted small">Recordings</div>
                        <div class="text-uppercase text-muted small">Created</div>
                    </div>
                    <div>
                        <div class="text-value"><div id="recordings_created"></div></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    </div>
    </div>

</div>


<script>
    /************* User Login Stats ********************/
    document.getElementById('client_user_sessions').innerHTML = usage_stats['client_user_sessions'];
    document.getElementById('partner_user_sessions').innerHTML = usage_stats['partner_user_sessions'];
    document.getElementById('sp_user_sessions').innerHTML = usage_stats['sp_user_sessions'];
    document.getElementById('total_user_sessions').innerHTML = usage_stats['total_user_sessions'];
    
    /************* Active Devices ********************/
    document.getElementById('total_active_resources').innerHTML = resources_stats['active']
    document.getElementById('discovered_n_inactive').innerHTML = resources_stats['inactive']

    /************* Resource stats ********************/
    document.getElementById('alerts_created').innerHTML = usage_stats['alerts_created'];
    document.getElementById('dashboards_created').innerHTML = usage_stats['dashboards_created'];
    document.getElementById('recordings_created').innerHTML = usage_stats['recordings_created'];
    document.getElementById('reports_created').innerHTML = usage_stats['reports_created'];
    document.getElementById('tickets_created').innerHTML = usage_stats['tickets_created'];
    document.getElementById('resources_added').innerHTML = usage_stats['resources_added'];

</script>

